@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-width: 375px;
  width: 100%;
}

body {
  background-image: url(/multimedia/svg/fondohuesos.svg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -5;
}

.contenedor {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Anton", sans-serif;
  margin: 2rem auto;
  padding-left: 0rem;
  background-color: #fffed9;
  background-image: url(/multimedia/svg/fondodiscreto.svg);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2vh 2vh 5vh #000000;
          box-shadow: 2vh 2vh 5vh #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #fffed9;
  }
  .logo {
    font-size: 2rem;
    letter-spacing: auto;
  }
  .nav ul a {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 780px) {
  body {
    background-color: #fffed9;
  }
  .logo {
    font-size: 4rem;
    letter-spacing: auto;
  }
  .nav ul a {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
  }
}

h5 {
  font-size: 2rem;
}

.padre .producto div p, .padre .receta__item div p {
  font-size: 0.9rem;
  color: #000000;
}

hr {
  margin-top: 3rem;
  border: 0.5rem dashed #D51C29;
}

.titulos {
  font-size: 5vh;
  font-family: "Ultra", serif;
  color: #000000;
  line-height: 20vh;
  text-align: center;
  background-image: url(/multimedia/svg/portada.svg);
  background-color: #D51C29;
  background-position: center;
  background-size: cover;
  height: 20vh;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 780px) {
  .titulos .titulos h1 {
    display: none;
  }
}

.nav {
  height: 70px;
  line-height: 70px;
  margin-bottom: 1%;
  z-index: 25;
}

.navegador {
  list-style: none;
  background-color: #D51C29;
}

.navegador a {
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  color: #000000;
  text-decoration: none;
}

.navegador a:hover {
  background-color: #000000;
  font-weight: bold;
  color: #fffed9;
}

label {
  font-size: 2rem;
  line-height: 70px;
  display: none;
  color: #fffed9;
  background-color: #D51C29;
  z-index: 14;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 620px) {
  label {
    display: block;
    cursor: pointer;
    z-index: 254;
  }
  .navegador {
    text-align: center;
    width: 100%;
    display: none;
  }
  .navegador a {
    border-bottom: 0.1rem solid #fffed9;
    margin: 0;
  }
  #toggle:checked + .navegador {
    display: inline-block;
    z-index: 25;
  }
}

.listaproducto, .recetas {
  margin-top: 20px;
  max-width: 1800px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
}

@media (max-width: 1000px) {
  .listaproducto, .recetas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-height: 800px;
    overflow: auto;
  }
}

@media (max-width: 620px) {
  .listaproducto, .recetas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-height: 600px;
    overflow: auto;
  }
}

.producto, .receta__item {
  border-radius: 0.2rem;
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.producto .img, .receta__item .img, .producto .receta__item__imagen, .receta__item .receta__item__imagen {
  width: auto;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.producto .title, .receta__item .title, .producto .receta__item__titulo, .receta__item .receta__item__titulo {
  font-size: 1.7rem;
  color: #000000;
  font-family: "Ultra", serif;
}

.producto .description, .receta__item .description, .producto .receta__item__text, .receta__item .receta__item__text {
  color: #000000;
  font-size: 1rem;
  font-family: "Anton", sans-serif;
}

.producto .price, .receta__item .price {
  font-size: 1.7rem;
  color: #000000;
  font-family: "Ultra", serif;
}

.producto:hover, .receta__item:hover {
  background-image: url(/multimedia/svg/productoshuesos.svg);
  border: 0.2rem dashed #D51C29;
  background-size: cover;
  background-position: center;
}

button {
  outline: none;
  background: #D51C29;
  font-family: "Ultra", serif;
  color: #000000;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}

button a:visited {
  text-decoration: none;
  color: #000000;
  background: #D51C29;
}

button:hover {
  background: #000000;
  text-decoration: none;
}

button:hover a {
  color: #fffed9;
}

.AboutUs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 2rem;
}

.AboutUs__img {
  background-color: #cccccc;
  background-image: url(/multimedia/iconos/opinión-panorámica-vacas-58759930.jpg);
  background-repeat: no-repeat;
  height: 10rem;
  border-radius: 5%;
  width: 80%;
}

.AboutUs__title {
  text-align: center;
  font-family: "Ultra", serif;
  font-size: 5rem;
  padding-top: 2rem;
}

.AboutUs__p {
  font-size: 1.2rem;
  font-family: "Anton", sans-serif;
}

.fondoerror {
  width: 100%;
  height: 100%;
  background-color: #D51C29;
}

.recetas {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 1rem auto;
  height: 100%;
}

@media (max-width: 1000px) {
  .recetas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .recetas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.receta__item {
  height: 22.5rem;
  overflow: auto;
}

.papi {
  margin-top: 20px;
  max-width: 1800px;
  max-height: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.8rem;
      grid-template-areas: "tit tit" "body sideb" "consej consej";
  overflow: auto;
}

.papi__titulos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tit;
  width: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 250px;
}

.papi__cuerpo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
  height: auto;
  margin: 0 10%;
  text-align: left;
  background-image: url(/multimedia/svg/productoshuesos.svg);
}

.papi__sidebar {
  text-align: left;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sideb;
  height: auto;
  padding: 10%;
}

.papi__sidebar .bi {
  font-size: 2rem;
  font-family: "Ultra", serif;
  color: #000000;
}

.papi__consejos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: consej;
  height: auto;
  -webkit-font-kerning: 1px;
          font-kerning: 1px;
  width: 80%;
  margin: 0 10%;
}

@media screen and (max-width: 800px) {
  .papi {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "tit" "consej"  "body"  "sideb";
    max-height: 600px;
    overflow: auto;
  }
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.formulario__box {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fffed9;
}

.formulario__box__izq {
  background-image: url(/multimedia/svg/carnivorecarbonB.svg);
  background-size: cover;
  background-position: center;
  height: 440px;
}

.formulario__box__derech {
  padding: 25px 40px;
  background-image: url(/multimedia/svg/fondohuesos.svg);
}

.formulario__box__derech h2 {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-family: "Ultra", serif;
  color: #fff;
  background-color: #000000;
  border-radius: 5%;
  height: 40px;
  line-height: 40px;
}

.formulario__box__derech__area {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #000000;
  font-size: 1.1rem;
  font-family: "Anton", sans-serif;
  margin-bottom: 22px;
  -webkit-transition: 1.1s;
  transition: 1.1s;
  border: 0.5rem solid #D51C29;
  color: #fffed9;
}

.formulario__box__derech__area:hover {
  background-color: #D51C29;
}

.formulario__box__derech__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.formulario__box__derech .btn:hover {
  background-color: #27ae60;
}

@media screen and (max-width: 880px) {
  .formulario__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .formulario__box__izq {
    height: 240px;
  }
}

.portadaA {
  background-image: url(/multimedia/svg/portada.svg);
  background-color: #D51C29;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.ABus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fffed9;
  height: 500px;
  overflow: auto;
}

.ABus__izquierda {
  height: 100%;
}

.ABus__izquierda .nosotrosTexto {
  padding: 20px;
  width: 100%;
  font-size: 1.5rem;
  -webkit-font-kerning: 5px;
          font-kerning: 5px;
  text-align: justify;
}

.ABus__derecha {
  background-image: url(/multimedia/svg/carnivorecarbonB.svg);
  background-position: center;
  overflow: hidden;
  height: 100%;
}

.titulosmain {
  overflow: hidden;
  line-height: 200px;
  font-size: 5rem;
  text-align: center;
  font-family: "Ultra", serif;
  color: #000000;
  -webkit-filter: drop-shadow(3px 1px 1px rgba(255, 255, 255, 0.363));
          filter: drop-shadow(3px 1px 1px rgba(255, 255, 255, 0.363));
  z-index: -1;
}

@media screen and (max-width: 821px) {
  .ABus {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .ABus__derecha {
    height: 240px;
  }
  .titulosmain {
    font-size: 3rem;
    line-height: 100px;
  }
  .portadaA {
    height: 100px;
  }
}

@media screen and (max-width: 620px) {
  .titulosmain {
    display: none;
  }
}

.footer {
  background-color: #D51C29;
  height: 6rem;
}

.footer ul {
  bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 3%;
  margin-top: 3%;
  height: 6rem;
  padding-bottom: 15px;
  overflow: auto;
}

.bi {
  font-family: "Anton", sans-serif;
  color: #fffed9;
  padding-left: 30px;
  line-height: 2;
}

.footer p {
  line-height: 5rem;
  text-align: center;
  margin-top: 0.09rem;
}

.bi-facebook {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fffed9;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fffed9;
}

.bi-whatsapp:hover {
  color: #25D366;
}

.bi-instagram {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fffed9;
}

.bi-instagram:hover {
  color: #8a3ab9;
}

.bi-linkedin {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fffed9;
}

.bi-linkedin:hover {
  color: #0072b1;
}

.bi-caret-up-fill {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fffed9;
}

.bi-caret-up-fill:hover {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */