.listaproducto {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    height: 60vh;
    overflow: auto;
            article p {
                    font-size: 0.5rem;
                    }
 }
 

.producto div img {
    width: 30vh;
    height: auto;
    align-items: start;
    border: 0.2rem $CARNE solid;
    &:hover {
        border: $CARNE dashed 0.3rem;
        background-color: azure;
        transform: scale(1.1);
        transition: all 0.3s ease;
        }
    }  
    
       .padre .producto div p {
           font-size: 0.9rem;
           color: rgb(8, 8, 8);
       }
       
   
   