.listaproducto {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    height: 60vh;
    overflow: auto;
            article p {
                    font-size: 1.2rem;
                    }
 }
 

.producto div img {
    width: 30vh;
    height: auto;
    align-items: start;
    border: 0.2rem $CARNE solid;
    &:hover {
        border: $CARNE dashed 0.3rem;
        background-color: azure;
        transform: scale(1.1);
        transition: all 0.3s ease;
        }
    }  
    
       .padre .producto div p {
           font-size: 0.9rem;
           color: rgb(8, 8, 8);
       }
       
       .AboutUs {
                align-items: center;
                width: 80%;
                margin-top: 2rem;
                
                &__img {
                    background-color: #cccccc;
                    background-image: url(/multimedia/iconos/opinión-panorámica-vacas-58759930.jpg);
                    background-repeat: no-repeat;
                    height: 10rem;
                    border-radius: 5%;
                    width: 80%;
                }
                &__title {
                    text-align: center;
                    font-family: $LOGO;
                    font-size: 5rem;
                    padding-top: 2rem;
                }

                &__p {
                    font-size: 1.2rem;
                    font-family: $TEXT;
                }
     }
   .fondoerror {
       width: 100%;
       height: 100%;
       background-color: $CARNE;
   }