
// MIXINS





@mixin redesfooter ($hover) {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: $WHITY;

    &:hover {
        color: $hover;
    }
} 
