
.receta  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
      font-size: 1rem;
    margin: 20px 20px;
   }
   .receta .imagen a img {
       width: 30vh;
       height: auto;
       align-items: start;
       border: 1px #D51C29 solid;
   }
   

