
.recetas  {

  @extend .listaproducto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 1rem auto;
  height: 400px;
  

}

@media (max-width: 1000px) {
  .recetas {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .recetas {
      grid-template-columns: 1fr;
  }
}

.receta__item {
    @extend .producto;
         &__imagen {
           @extend .img;
         }
        &__titulo {
          @extend .title;
        }
        &__text {
          @extend .description;
        }

        }
   

