//VARIABLES

$CARNE:#D51C29;
$BLACKY:#000000;
$WHITY:#fffed9;
$LOGO:'Ultra', serif;
$TEXT:'Anton', sans-serif;


// VAR REDES

$insta: #8a3ab9;
$wp: #25D366;
$fb: #3b5998;
$lkin: #0072b1;
$twit:#1DA1F2;





